@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Poppins:wght@300;500;700&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
    z-index: 2;
}

/* NAV */
nav{
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 3;
}
.form-control{
    border: none;
    background-color: #d4cfcf;
    border-radius: 5px 0 0 5px;
    height: 36px;
}
.form-control:focus{
    background-color: #d4cfcf;
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}
#navbarDropdownMenuLink{
    color: #47E1A8;
}
.nav-dl{
    color: #000;
}
.news__dropdown {
    position: absolute;
    z-index: 1000;
    display: none;
    min-width: 1rem;
    padding: 0.5rem 1rem;
    margin: 0 0 0 ;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #F1F1F1;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0.25rem;
}
.news{
    width: 20rem;
}
.news__left{
    width: 20rem;
}
.news__left p{
    width: 15rem;
}
.dropdown-menu{
    background: #F1F1F1;
    border-radius: 10px;
    border: none;
}
.btn-search{
    border: none;
    background-color: #d4cfcf;
    border-radius: 0 5px 5px 0;
}
.dropdown-news{
    padding: .5rem 1rem .5rem 0;
}
.dropdown-news::after {
    display: none;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}
.btn-notif{
    /* height: 3rem; */
    padding: 0.375rem 0.75rem 0.375rem 0;
    background: #F1F1F1;
    border-radius: 10px;
}
.btn-notif img{
    width:1.5rem;
}



/* Section HomeExam */
.back_home a{
    text-decoration: none;
    color: #000;
}
.back__he{
    align-items: center;
}
.bh__right h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
}


.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 95vw;
}

.left__content{
    height: max-content;
    padding: 20px 30px;
    background: #FFFFFF;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}
.left__content h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
}
.dl__filter h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}
.dl__filter label{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
}





.rct__right h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
}
.rct__right p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
}
.rctrm{
    align-items: center;
    justify-content: space-between;
}
.ml__content{
    align-items: center;
}
.ml__content h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    /* font-size: 18px; */
}

.btn-dl{
    background-color: #00367A;
    color: #fff;
}
.btn-outline-share{
    align-items: center;
    height: 2.4rem;
    border-color: #00367A;
    color: #00367A;
}


.rc__middle h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
}
.skill__option{
    flex-wrap: wrap;
}
.btn-so{
    background: #DDDDDD;
    border-radius: 100px;
    color: #000;
}

.rc__bottom h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
}

.rctr__bottom{
    flex-wrap: wrap;
}

