
.Content{
    transform: translateY(6rem);
    font-family: 'Montserrat', sans-serif;
}
.responsive-iframe {
    width: 100%;
    height: 100%;
  }
.tpl_img{
    height: 5.5rem;
    width: 5.5rem;
}
.tpl_title p:nth-child(1){
    font-size: calc(100% + 0.8vmin);
}
.tpl_title p:nth-child(2){
    /* FONT SIZE RESPONSIVE */
    font-size: calc(60% + 0.8vmin);
}
@media (max-width: 768px) {
    .tpl_img{
        height: 5em;
        width: 5em;
    } 
}
.tpl_img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: contain;
}
.button a:nth-child(1){
    padding: .6em .75em !important;
}
.button a svg{
    height : 1rem;
    fill: orangered;
}
.button a{
    font-size: calc(50% + .25vmin);
    display: inline-flex;
    justify-content: center;
    max-width: 100%;
    line-height: .5;
    padding: 1.1em .75em;
    
    /* background-color: #004578; */
    /* color: #ffffff; */
    /* font-family: Arial; */
    text-decoration: none;
  }
  
  .button a::before,
  .button a::after {
    content: '';
    display: inline-block;
    width: 2em;
    flex-basis: 2em;
    float: left;
  }
.left_content{
    height: 85vh;
    overflow: auto;
}
.left_content img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* Custom Overflow Scroll */
    /* width */
    .left_content::-webkit-scrollbar {
        width: 7.5px;
    }
    /* Track */
    .left_content::-webkit-scrollbar-track {
        box-shadow: inset 0 0 7.5px rgb(0, 0, 0); 
        border-radius: 10rem;
    }
    /* Handle */
    .left_content::-webkit-scrollbar-thumb {
        background: black; 
        border-radius: 10rem;
    }
    /* Handle on hover */
    .left_content::-webkit-scrollbar-thumb:hover {
        background: rgb(41, 40, 40); 
    }

    .card_chat{
        height: 85vh;
        border: 1px solid rgb(187, 186, 186);
        border-radius: .5rem;
    }

    .dots{

        height: 4px;
      width: 4px;
      margin-bottom: 2px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
    }
    
    .badge{
    
            padding: 7px;
            padding-right: 9px;
        padding-left: 16px;     
    }
    
    .user-img{
        margin-top: 4px;
    }
    
    .check-icon{
    
        font-size: 17px;
        color: #c3bfbf;
        top: 1px;
        position: relative;
        margin-left: 3px;
    }
    
    .form-check-input{
        margin-top: 6px;
        margin-left: -24px !important;
        cursor: pointer;
    }
    
    
    .form-check-input:focus{
        box-shadow: none;
    }
    
    
    .icons i{
    
        margin-left: 8px;
    }
    .time_komen{
        font-size: calc(25% + 1vmin);
    }
    .reply{
        margin-left: 12px;
    }
    .reply a{
        font-size: calc(45% + 1vmin);
    }
    .reply button{
        font-size: calc(45% + 1vmin);
    }
    
    .reply small{
    
        color: #b7b4b4;
    
    }
    
    
    .reply small:hover{
    
        color: green;
        cursor: pointer;
    
    }
    #balasan{
        display: none;
    }

    #people_list_comment{
        height: 80%;
        overflow-y: auto;
    }
    /* Custom Overflow Scroll */
    /* width */
    #people_list_comment::-webkit-scrollbar {
        width: 7.5px;
    }
    /* Track */
    #people_list_comment::-webkit-scrollbar-track {
        box-shadow: inset 0 0 7.5px rgb(158, 158, 158); 
        border-radius: 10rem;
    }
    /* Handle */
    #people_list_comment::-webkit-scrollbar-thumb {
        background: rgb(185, 180, 180); 
        border-radius: 10rem;
    }
    /* Handle on hover */
    #people_list_comment::-webkit-scrollbar-thumb:hover {
        background: rgb(41, 40, 40); 
    }
    #people_comment{
        height: 20%;
    }
    .profil_comment{
        width: 100%;
        /* height: 2.5rem; */
    }
    .profil_comment img{
        width: 100%;
        object-fit: cover;
        border-radius: 50%;
    }
    .form-outline .mb-0 textarea{
        background: transparent;
        border: 1px solid rgb(177, 175, 175);
        border-radius: .5rem;
        height: 3rem;
        font-size: calc(40% + 1vmin);
    }
    .form-outline button{
        font-size: calc(40% + 1vmin);
    }




    #modal-kotak{
        margin:5%;
        width: 90%;	
        height: auto;
        position: absolute;
        position:fixed;
        z-index:1002;
        display: none;
        background: white;	
    }
    #atas{
        font-size: 15pt;
        padding: 20px;	
        height: 50vh;
    }
    #bawah{
        background: #fff;
    }
     
    #tombol-tutup{	
        background: #e74c3c;
    }
    #tombol-tutup,#tombol{
        height: 30px;
        width: 100%;
        color: #fff;
        border: 0px;
    }
    #bg{
        opacity:.80;
        position: absolute;
        display: none;
        position: fixed;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        background-color: #000;
        z-index:1001;
        opacity: 0.8;
    }
    #tombol{
        width: 90vw;
        height: 10rem;     
    }