@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Poppins:wght@300;500;700&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
    z-index: 2;
}
body a{
    list-style: none;
    text-decoration: none;
}

.row h2{
    font-weight: 400;
    font-size: 40px;
}
.form-label{
    font-weight: 600;
    font-size: 15px;
}
.form-control{
    border: none;
    border-bottom: 1.75px solid black;
}
.form-control:focus{
    border: none;
}
.title label{
    font-weight: 600;
    font-size: 15px;
}
.parentbirthDay{
    flex-wrap: wrap;
}
.BirthDay{
    margin-top: 5px;
}
.BirthDay select{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1.5px solid #515151;
    border-radius: 8px;
}
.BirthDay p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: -0.03em;
    color: #515151;
}
.BirthDay select:focus{
    border: none;
    outline: none;
}
.btn-submit{
    font-weight: 700;
    font-size: 15px;
    color: #000;
    border-radius: 5px;
    background-color: #F0AE00;
    border: none;
}
.ddm__hari{
    position: absolute;
    inset: auto auto 0px 0px;
    margin: 0px;
    transform: translate(0px, -40px);
    height: 10rem;
    overflow: auto;
    width: max-content;
}
.ddm__hari li{
    transform: translate(40px, 0);
}
.title-section{
    color: #003579;
}
.regist-icon{
    position: absolute;
    width: 450px;
    height: 402px;
    top: 0;
    left: 0;
}
.regist-icon-2{
    position: absolute;
    width: 522.97px;
    height: 140.67px;
    bottom: 0;
    left: 0;
}
.register p{
    font-size: 12.5px;
}
.register a{
    font-size: 12.5px;
    color: #000;
}